/dts-v1/;
/plugin/;

/ {
    compatible = "brcm,bcm2835";

    fragment@0 {
        target = <&spi0>;
        __overlay__ {
            status = "okay";
        };
    };

    fragment@1 {
        target = <&gpio>;
        __overlay__ {
            mpi3501_pins: mpi3501_pins {
                brcm,pins = <24 25 17>;
                brcm,function = <1 1 0>; /* 1=output (DC,RESET), 0=input (PENIRQ) */
            };
        };
    };

    fragment@2 {
        target = <&spi0>;
        __overlay__ {
            #address-cells = <1>;
            #size-cells = <0>;

            mpi3501: display@0 {
                compatible = "ilitek,ili9486";
                reg = <0>;
                pinctrl-names = "default";
                pinctrl-0 = <&mpi3501_pins>;

                spi-max-frequency = <16000000>;
                txbuflen = <0x8000>;
                rotate = <90>;
                bgr = <0>;
                fps = <30>;
                buswidth = <8>;
                regwidth = <16>;

                reset-gpios = <&gpio 25 1>;
                dc-gpios    = <&gpio 24 0>;
                debug = <0>;

                init = <0x10000f1 0x36 0x04 0x00 0x3c 0x0f 0x8f
                        0x10000f2 0x18 0xa3 0x12 0x02 0xb2 0x12 0xff 0x10 0x00
                        0x10000f8 0x21 0x04
                        0x10000f9 0x00 0x08
                        0x1000036 0x08
                        0x10000b4 0x00
                        0x10000c1 0x41
                        0x10000c5 0x00 0x91 0x80 0x00
                        0x10000e0 0x0f 0x1f 0x1c 0x0c 0x0f 0x08 0x48 0x98 0x37 0x0a 0x13 0x04 0x11 0x0d 0x00
                        0x10000e1 0x0f 0x32 0x2e 0x0b 0x0d 0x05 0x47 0x75 0x37 0x06 0x10 0x03 0x24 0x20 0x00
                        0x100003a 0x55
                        0x1000011
                        0x1000036 0x28
                        0x20000ff
                        0x1000029>;
            };

            mpi3501_ts: touchscreen@1 {
                compatible = "ti,ads7846";
                reg = <1>;
                spi-max-frequency = <2000000>;
                interrupt-parent = <&gpio>;
                interrupts = <17 2>;           /* GPIO17, falling edge */
                pendown-gpio = <&gpio 17 1>;   /* input, active high */

                ti,x-plate-ohms = <60>;
                ti,pressure-max = <255>;
            };
        };
    };
};
